codecov*
src/
coverage/
obsolete/
test/
yarn.lock
yarn-error.log
pnpm-lock.yaml
pnpm-workspace.yaml
.babelrc
.eslintrc.json
karma.conf.js
lib.baseconfig.js
vite.config.ts
vitest.config.node.ts
vitest.config.web.ts
tsconfig.json
tsconfig.tsbuildinfo
.tmp/
.idea/
.vscode/
.git/
.gitignore
.circleci/
coverage/
.nyc_output
renovate.json
*.map
.env
